


/* === MISE EN PAGE GLOBALE === */

* {
	padding: 0; /* Supprime les paddings par défaut */
	box-sizing: border-box; /* Inclut les paddings et bordures dans les dimensions */
	text-decoration: none; /* Supprime les soulignements des liens */
	list-style: none; /* Supprime les puces des listes */
	scroll-behavior: smooth;
}

body {
  margin: 0;
	color: var(--couleur-fonce); /* Couleur du texte */
	background-color: var(--couleur-clair); /* Couleur de fond */
	align-items: center; /* Centre verticalement (utile en flex) */
	justify-content: center; /* Centre horizontalement */
	font-family: arial, sans-serif; /* Police de base */
	transition: color 1.0s ease-out, background-color 1.0s ease-out;
}




/* === VARIABLES CSS GLOBALES === */

:root {
	--s: 300px; /* Taille des cellules (grille astuces) */
	--g: 10px; /* Gouttière entre les cellules */
	--f: 1.05; /* Facteur de zoom au survol */
	--font-size: 40px; /* Taille de police pour la galerie */
	--couleur-fonce: 	#B98379; /* Couleur principale */
	--couleur-clair: white; /* Couleur secondaire */
}





/* === IMPORT DES TYPOGRAPHIE === */

@font-face {
  font-family: 'kindora';
  src: url('./font/kindora.otf') format('opentype'),
       url('./font/kindora.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'chillax';
  src: url('./font/chillax.otf') format('opentype'),
		url('./font/chillax.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('./font/montserrat.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}




/* === STRUCTURE DES GRANDES SECTIONS === */

.titre-site, .texte-intro, .dernières {
	height: 100svh; /* Hauteur = hauteur de la fenêtre */
}

.titre-site, .texte-intro, .dernières {
	display: flex; /* Utilise flexbox */
	justify-content: center; /* Centre horizontalement */
	align-items: center; /* Centre verticalement */
}









/* === NAVBAR === */

.navbar {
	font-family: 'chillax', sans-serif; /* Police de caractères pour la navbar */
	padding: 30px; /* Espacement interne autour du contenu */
	height: 120px; /* Hauteur fixe pour stabilité d'affichage */
	display: flex; /* Utilise Flexbox pour aligner horizontalement */
	justify-content: space-between; /* Écarte les éléments au maximum */
	align-items: center; /* Centre verticalement les éléments */
	width: 100%; /* Navbar prend toute la largeur */
	box-sizing: border-box; /* Inclut padding et bordures dans le width */
	position: relative; /* Nécessaire pour positionner les éléments enfants en absolute */
}

.navbar a {
	color: var(--couleur-fonce); /* Couleur des liens */
	background-color: transparent; /* Pas de fond pour les liens */
	text-decoration: none; /* Enlève le soulignement */
}

.navbar .nom {
	font-size: 32px; /* Taille du texte pour le nom */
	font-weight: bold; /* Texte en gras */
	margin-left: 15px;
	color: var(--couleur-fonce); /* Couleur des liens */
}

.navbar .nav-links ul {
	display: flex; /* Aligne les liens horizontalement */
	text-align: left;
	font-size: 18px;
}

.navbar .nav-links ul li {
	margin: 0 30px; /* Espace horizontal entre chaque lien */
}

.navbar .menu-hamburger {
	display: none; /* Caché en desktop */
	position: absolute; /* Positionné par rapport à .navbar */
	top: 50%; /* Centré verticalement */
	right: 30px; /* Décalé du bord droit */
	transform: translateY(-50%); /* Corrige le centrage vertical */
	width: 35px; /* Taille de l'icône hamburger */
	cursor: pointer; /* Curseur en forme de main au survol */
}

/* === Version hamburger === */

@media screen and (max-width: 900px) {

	.navbar {
		padding: 50px; /* Réduit le padding en mobile */
		height: 120px; /* Hauteur fixe pour stabilité d'affichage */
	}

	.navbar .menu-hamburger {
		display: block; /* Affiche le menu hamburger */
		z-index: 1000;
	}

	.navbar .nav-links {
		position: fixed; /* Fixe la position du menu sur tout l'écran */
		top: 0; /* Collé en haut */
		left: 0; /* Collé à gauche */
		width: 100%; /* Prend toute la largeur */
		height: 100svh; /* Prend toute la hauteur visible */
		background-color: rgba(255, 255, 255, 0.1); /* Fond semi-transparent */
		backdrop-filter: blur(10px); /* Floute l'arrière-plan */
		-webkit-backdrop-filter: blur(10px); /* Adpater pour ipad */
		display: flex; /* Flexbox pour aligner contenu */
		flex-direction: column; /* Direction verticale */
		justify-content: center; /* Centre verticalement */
		align-items: center; /* Centre horizontalement */
		transform: translateX(-100%); /* Cacher complètement sur la gauche au départ */
		transition: transform 0.5s ease; /* Animation douce pour le menu */
		z-index: 999; /* Superposition par-dessus le reste */
	}

	.navbar .nav-links.mobile-menu {
		transform: translateX(0); /* Fait glisser le menu pour l'afficher */
	}

	.navbar .nav-links ul {
		flex-direction: column; /* Les liens sont empilés verticalement */
	}

	.navbar .nav-links ul li {
		font-size: 32px;
		margin: 40px 0; /* Espacement vertical entre les liens */
		text-shadow: 2px 2px 5px rgba(0,0,0,0.2); /* ← Ajoute juste une ombre portée */
	}
}

/* === Responsive pour téléphone === */

@media screen and (min-width: 320px) and (max-width: 767px) {

	.navbar .nom {
		font-size: 24px;
		margin-left: -7px;
	}

	.navbar .nav-links ul li {
		font-size: 28px;
		margin: 40px 0; /* Espacement vertical entre les liens */
		text-shadow: 2px 2px 5px rgba(0,0,0,0.2); /* ← Ajoute juste une ombre portée */
		text-align: center;
	}
}













/* === TITRE PRINCIPAL (PORTFOLIO et TBX) === */

.titre-site {
	font-family: 'kindora', sans-serif; /* Police spécifique pour le titre principal */
	position: relative; /* Pour positionner les textes enfants en absolute */
	padding-top: 440px; /* Espace au-dessus pour ne pas coller à la navbar */
	text-align: center; /* Centre le contenu horizontalement */
}

.main-title {
	position: relative; /* Nécessaire pour la position des éléments enfants */
	display: inline-block; /* Permet au titre de ne prendre que sa taille utile */
}

.text-portfolio,
.text-tbx {
	position: absolute; /* Positionnement précis par rapport au .main-title */
	left: 50%; /* Place au centre horizontalement */
	white-space: nowrap; /* Empêche le texte de passer à la ligne */
	transform: translateX(-50%); /* Centre parfaitement (décale de moitié la largeur) */
	transition: all 0.5s ease; /* Transition fluide pour toutes les propriétés */
}

.text-portfolio {
	top: -7rem; /* Position verticale par rapport au centre */
	font-size: 100px; /* Grande taille pour impact visuel */
	font-weight: normal; /* Poids normal */
}


.text-tbx {
	top: -27rem; /* Encore plus haut */
	font-size: 520px; /* Très grand pour l'effet "TBX" de fond */
	opacity: 0.1; /* Semi-transparent */
	line-height: 1; /* Ligne serrée */
}


/* Responsive pour téléphone */

@media screen and (min-width: 320px) and (max-width: 767px) {
	.text-portfolio {
		top: -17rem; /* Descend encore */
		font-size: 40px; /* Plus petit pour téléphones */
	}


		.text-tbx {
	top: -24rem; /* Encore plus haut */
	font-size: 160px; /* Très grand pour l'effet "&" de fond */
	opacity: 0.1; /* Semi-transparent */
	line-height: 1; /* Ligne serrée */
}
}











/* === TITRE MES DERNIERE REALISATIONS === */

.titre1 {
		font-family: "kindora";
		font-size: 45px;
		margin-top: 90px;
		margin-left: 20px;
		margin-bottom: -60px;
	}

/* Responsive pour téléphone */

@media screen and (min-width: 320px) and (max-width: 767px) {
	.titre1 {
		font-family: "kindora";
		font-size: 32px;
		margin-top: -60px;
		margin-left: 20px;
		margin-bottom: 250px;
	}
}











/* === DERNIERE REALISATION (CARROUSEL HORIZONTAL) === */

.réalisation {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth; /* Effet de défilement fluide */
  margin-left: 20px;
}

.réalisation::-webkit-scrollbar {
  display: none;
}

.item {
	background-color: var(--couleur-fonce);
	display: flex;
	flex-direction: column;
	width: 450px;
	height: 650px;
	line-height: 110px;
	margin-right: 15px;
	border-radius: 20px;
}

.item img {
	z-index: 1;
	display: flex;
	flex-direction: column;
	width: 450px;
	height: 650px;
	line-height: 110px;
	margin-right: 15px;
	border-radius: 20px;
}

.titre {
	font-family: 'chillax', sans-serif;
	font-size: 38px;
	color: #B98379;
	margin-top: -160px;
	margin-bottom: 70px;
	margin-left: 15px;
	line-height: 3rem;
	font-weight: bold;
	text-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
	z-index: 2;
}


.description {
	font-family: 'montserrat', sans-serif;
	color: #B98379;
	margin-top: -50px;
	margin-left: 20px;
	margin-right: 20px;
	line-height: 1.5rem;
	font-size: 16px;
	text-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
	z-index: 2;

}

/* Responsive pour téléphone */

@media screen and (min-width: 320px) and (max-width: 767px) {

	.dernières {
		position: relative;
		top: -18rem; /* Descend encore */
	}


	.item {
		background-color: var(--couleur-fonce);
		display: flex;
		flex-direction: column;
		width: 350px;
		height: 550px;
		line-height: 110px;
		margin-right: 15px;
		border-radius: 20px;
}

	.item img {
		z-index: 1;
		display: flex;
		flex-direction: column;
		width: 350px;
		height: 550px;
		line-height: 110px;
		margin-right: 15px;
		border-radius: 20px;
}

	.titre {
		font-family: 'chillax', sans-serif;
		font-size: 31px;
		color: #B98379;
		margin-top: -130px;
		margin-bottom: 70px;
		margin-left: 15px;
		line-height: 3rem;
		font-weight: bold;
		text-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
		z-index: 2;
}


	.description {
		font-family: 'montserrat', sans-serif;
		color: #B98379;
		margin-top: -70px;
		margin-left: 20px;
		margin-right: 20px;
		line-height: 1.2rem;
		font-size: 13px;
		text-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
		z-index: 2;

}
}










/* === TITRE TOUS MES PROJET=== */

.titre2 {
		font-family: "kindora";
		font-size: 45px;
		text-align: center;
		margin-top: 150px;
		margin-bottom: -60px;
	}

/* Responsive pour téléphone */

@media screen and (min-width: 320px) and (max-width: 767px) {

	.titre2 {
		font-family: "kindora";
		font-size: 32px;
		text-align: center;
		margin-top: -280px;
		margin-bottom: 20px;
	}
}









/* === PROJET === */

#projet {
	scroll-margin-top:2em;
	}

.gallery {
	position: relative;
	top: 60px;
  display: grid; /* Utilise CSS Grid pour organiser les éléments */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Crée des colonnes flexibles : min 250px, max prend tout l'espace */
  gap: var(--g); /* Espace entre les cellules (défini dans les variables CSS) */
  padding: 20px; /* Marge intérieure autour de la grille */
  max-width: 100%; /* Limite la largeur maximale de la galerie */
  margin: 0 auto; /* Centre la galerie horizontalement */
  font-size: var(--font-size); /* Taille de police héritée de la variable globale */
  position: relative; /* Nécessaire pour z-index si besoin de superposer des éléments */
  z-index: 1; /* S'assure que la galerie reste visible par-dessus d'autres éléments */
  width: 100%; /* Prend toute la largeur disponible */
  box-sizing: border-box; /* Inclut le padding dans le calcul de largeur */
}


.cellule {
	position: relative; /* Permet à .nom d’être positionnée absolument */
  background-color: var(--couleur-fonce); /* Couleur de fond des cellules */
  font-size: inherit; /* Hérite de la taille de police de .gallery */
  text-align: center; /* Centre le texte horizontalement */
  display: grid; /* Pour centrer le contenu verticalement et horizontalement */
  place-items: center; /* Centre le contenu dans les deux axes */
  border-radius: 25px; /* Coins arrondis */
  margin-bottom: 5px; /* Petit espace sous chaque cellule */
  height: 100%; /* Hauteur à 100% pour remplir la grille */
}

.cellule img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  display: block;
}


.gallery > .cellule {
  width: 100%; /* Prend toute la largeur disponible dans la colonne */
  aspect-ratio: 1; /* Garde un format carré */
  object-fit: cover; /* Ajuste le contenu pour remplir sans déformer */
  cursor: pointer; /* Curseur main au survol */
  transition: transform 0.3s ease, filter 0.3s ease, color 0.3s ease-out, background-color 0.3s ease-out; /* Animations douces */
}


.gallery .cellule:hover {
  filter: grayscale(10%); /* Applique un léger filtre gris */
  transform: scale(var(--f)); /* Zoom selon le facteur défini dans :root */
  z-index: 1; /* Fait passer l’élément au-dessus des autres */
}
/* Désactiver les hovers en mobile */
@media screen and (max-width: 768px) {
  .gallery .cellule:hover {
    filter: none;
    transform: none;
    z-index: auto;
  }
}

.interieur {
	position: absolute;
  font-family: 'chillax', sans-serif; /* Police personnalisée */
  color: var(--couleur-clair); /* Texte en couleur claire */
}


/* Responsive pour téléphone */

@media screen and (min-width: 320px) and (max-width: 767px) {

  .gallery {
    grid-template-columns: repeat(1, 1fr); /* 2 colonnes sur petit écran */
    gap: 10px;
    margin-top: -50px;
    max-width: 100%;
  }

  .gallery > .cellule {
    aspect-ratio: 1; /* Garde le format carré même sur mobile */
  }

  .interieur {
    font-size: 35px; /* Réduit la taille du texte dans les cellules */
  }

  .projet {
    display: block;
  }

  /* .gallery .cellule:hover {
  filter: grayscale(10%);
   transform: none;
  z-index: 1;
} */
}

/* Enlever la couleur des liens */

.projet a {
	color: var(--couleur-clair); /* Couleur des liens */
	background-color: var(--couleur-fonce); /* Fond clair */
	background-color: transparent; /* Enlever le fond qui créer boîte */
}













/* BAS ET MENTIONS */

.footer {
  background-color: #B98379; /* Couleur de fond */
  color: white; /* Couleur du texte */
  padding: 20px 0;
  text-align: center;
  font-family: 'chillax', sans-serif;
  font-size: 16px;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 150px;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.social-icon {
  width: 40px;    /* ou la taille que tu veux */
  height: auto;
}


.footer-nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  transition: color 0.3s ease;
}



/* Responsive téléphone */

@media screen and (min-width: 320px) and (max-width: 767px) {

.footer {
  background-color: #B98379; /* Couleur de fond */
  color: white; /* Couleur du texte */
  padding: 20px 0;
  text-align: center;
  font-family: 'chillax', sans-serif;
  font-size: 14px;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 150px;
}
  .footer-content {
    flex-direction: column;
  }

  .footer-nav a {
    margin: 5px 10px;
  }
}

